{% load static %}
<footer class="footer">
    <div class="footer-content">
        <img src="{% static 'main/resource/logo1.png' %}" alt="Logo" class="footer-logo">
        <table class="footer-table">
            <thead>
                <tr>
                    <th>Contactos</th>
                    <th>FAQs</th>
                    <th>Políticas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tel: (503) 7777 7777</td>
                    <td><a href="#" class="footer-link">Preguntas Frecuentes</a></td>
                    <td><a href="#" class="footer-link">Términos y Condiciones</a></td>
                </tr>
                <tr>
                    <td>Email: correo@falso666.com</td>
                    <td><a href="#" class="footer-link">Soporte Técnico</a></td>
                    <td><a href="#" class="footer-link">Políticas de la Tienda</a></td>
                </tr>
                <tr>
                    <td>Dirección: Enrique Segoviano</td>
                    <td><a href="#" class="footer-link">Sobre Nosotros</a></td>
                    <td><a href="#" class="footer-link">Privacidad</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</footer>
