<!DOCTYPE html>
<html>
<head>
    <title>Seguimiento</title>
    {% load static %}
    <link rel="icon" href="{% static 'main/resource/teraFavicon.png' %}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/styles.css' %}">
</head>
<body id="seguimiento">
    {% include 'main/navbar.html' %}
    
    <div class="content {% if result %}show-content{% endif %}">
        <h1 class="seguimiento">SEGUIMIENTO</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-container">
                <input type="text" id="serial" name="serial" value="{{ request.POST.serial }}" placeholder="Ingresa el código">
                <button type="submit">Buscar</button>
            </div>
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
        </form>

        {% if result %}
        <div class="result-container">
            <div class="result-row">
                <div class="result-box-wrapper">
                    <label>Fecha de ingreso:</label>
                    <div class="result-box">{{ result.fechaRecibido }}</div>
                </div>
                <div class="result-box-wrapper">
                    <label>Estimado de entrega:</label>
                    <div class="result-box">{{ result.EstimadoEntrega }}</div>
                </div>
                <div class="result-box-wrapper">
                    <label>Estado:</label>
                    <div class="result-box">{{ result.Estado }}</div>
                </div>
            </div>
            <div class="result-box-wrapper">
                <label>Descripción:</label>
                <div class="result-box description-box">{{ result.Descripción }}</div>
            </div>
        </div>
        {% endif %}
        
    </div>
    
    <!-- Menú Flotante -->
    <div id="contactMenu" class="contact-menu">
        <div class="menu-header">CONTÁCTANOS</div>
        <div class="separator"></div>
        <ul>
            <li><a href="https://x.com/home" class="menu-item"><img src="{% static 'main/resource/Whatsapp_ico.png' %}" alt="Icon" class="menu-icon"> Whatsapp</a></li>
            <li><a href="https://x.com/home" class="menu-item"><img src="{% static 'main/resource/Instagram_ico.png' %}" alt="Icon" class="menu-icon"> Instagram</a></li>
            <li><a href="https://x.com/home" class="menu-item"><img src="{% static 'main/resource/Facebook_ico.png' %}" alt="Icon" class="menu-icon"> Facebook</a></li>
        </ul>
    </div>

    <!-- Floating Button -->
    <button class="contact-button">
        <img src="{% static 'main/resource/msg.svg' %}" alt="Contact" class="contact-icon">
    </button>

    <div class="contact-tooltip">👈🏻 Ayuda</div>

    <script src="{% static 'main/scripts/scripts.js' %}"></script>
    
</body>
</html>
